[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GCPBayes"]
	path = GCPBayes
	url = https://github.com/cran/GCPBayes
	shallow = true
	registered = true
